
*{
    margin: 0;
    padding: 0;
}
#contenedor{
    background-size: cover;
    background-image: url("portada.jpg");
    background-repeat: no-repeat;
    width: 700px;
    height: 600px;
    margin: 0.5cm auto;
    padding: 0.5cm auto;
    
    

}
    

#header{
background:rgb(34, 4, 4);
color: aliceblue;
height: 10%;
border-radius: 10px;
margin: 0.5cm;
font-size: x-small;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
opacity: 0.7;
padding-top: 10px;
}

#nav{
background: beige;
font-size:small;
font-family: Arial, Helvetica, sans-serif;
color: rgb(56, 39, 16);
height: 65%;
border-radius: 10px;
margin: 00.5cm;
text-align: center;
opacity: 0.7;
}

#section{
    background:rgb(8, 5, 0);
    font-size:small;
    font-family: Arial, Helvetica, sans-serif;
    color: wheat;
    height: 85%;
    border-radius: 10px;
    margin: 00.5cm;
    text-align: right;
    opacity: 0.9;
    }


#footer{
    background: rgb(60, 80, 60);

    height: 10%;
    margin: 0.5cm;
    padding: 5px;
    border-radius: 10px;
    font-size: small;
font-family: Arial, Helvetica, sans-serif;
color:rgb(216, 216, 155);
opacity: 0.8;

}
