*{
    margin: 0;
    padding: 0;
}

#contenedor{
    background-size: cover;
    width: 699px;
    height: 600px;
    margin: 0.5cm auto;
    padding: 0.5cm auto;
    background: black;
}
#header{
    background:rgb(114, 2, 2);
  
    
    color: aliceblue;
    height: 7%;
    width: 100%;
    border-radius: 10px;
    font-weight: 1px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.8;
}

.flex-center{
    display:flex;
    justify-content: center;
    align-items:center;
}
#contenido{
height: 30%;
margin: 00.5cm;
background-color: bisque;
border-radius: 10px;

}
#contenido thead{
    background-color: rgb(31, 9, 9);
    color:white;
    text-align: left;
    
    
}
#contenido th
{
    border-radius: 10px;
    font-size: medium;
}
#contenido a{
    border-radius: 10px;
    border-color: rgb(106, 148, 148);
}

#fondo{
    width:700px;
    height:300px;
    background-image:url('bellas.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 10px;}
#fondo p{
    color:blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    

}
#fondo h1{
   
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    
    color:white;
    
}
#fondo h2{
    font-family: Arial, Helvetica, sans-serif;
    
    color: aliceblue;

}

#footer{
    height: 10%;
    text-align: justify;
    background-color:rgb(114, 2, 2);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;

}


.button{
    display: block;
    font-weight: bold;
    color: #fff;
    background-color: cadetblue;
    width: 200px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 10px;
    
    border-radius: 10px;

}
.button2{
    /*display: block;*/
    
    color:white;
    background-color: rgb(114, 2, 2);
    width: 150px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    margin: 0;
    margin-top: 2px;
    
}
